{% extends 'website/base.html' %}
{% block content %}
<div class="container-fluid about-container">
<img src="/media/images/office.jpg" class="img-top">
    <div class="our-story-wrapper">
    <div class="our-story-title"><h1>About Us</h1></div>
    <div class="row row-our-story">
        <div class="col-lg-6">
            <p>We're a small full stack software consulting company based in London.
                We have expert knowledge of Python development, and we're also highly proficient in frontend development
                and DevOps engineering. Over the years, we've helped clients in a variety of industries, including
                retail, finance, insurance, and IoT to successfully deliver their IT projects. </p>
        </div>
        <div class="col-lg-6">
            <p>Over the past years, we've worked in different types of projects, such as migrating legacy codebases to
                Python, migrating applications from on-premises servers to the Cloud, migrating monolithic codebases to
                microservices, building APIs, automating infrastructure and releases, building frontend client
                applications, building data pipelines and ETLs, and driving integrations with Machine Learning
                systems.</p>
            <p>If you need help with anything involving Python, microservices, APIs, refactoring, clean code, elusive
                bugs, or code review, feel free to reach out to us!</p>
        </div>
    </div>
    </div>
<!--    <div class="our-goals-wrapper">-->
<!--        <div class="our-goals-title"><h1>Our goals</h1></div>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut-->
<!--            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris-->
<!--            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit-->
<!--            esse</p>-->
<!--    </div>-->
<!--    <div class="our-values-wrapper">-->
<!--        <div class="our-values-title"><h1>Our values</h1></div>-->
<!--        <div class="row">-->
<!--            <div class="element col-lg-2">-->
<!--                <div class="element-title">Excellence</div>-->
<!--                <img class="element-image" src="/media/images/excellence.png">-->
<!--                <div class="element-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>-->
<!--            </div>-->
<!--            <div class="element col-lg-2">-->
<!--                <div class="element-title">Global</div>-->
<!--                <img class="element-image" src="/media/images/global.png">-->
<!--                <div class="element-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>-->
<!--            </div>-->
<!--            <div class="element col-lg-2">-->
<!--                <div class="element-title">Integrity</div>-->
<!--                    <img class="element-image" src="/media/images/integrity.png">-->
<!--                    <div class="element-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>-->
<!--            </div>-->
<!--            <div class="element col-lg-2">-->
<!--                <div class="element-title">People Focussed</div>-->
<!--                    <img class="element-image" src="/media/images/target.png">-->
<!--                    <div class="element-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
    {% endblock content %}