{% extends 'website/base.html' %}
{% block content %}
<div class="container-fluid about-container">
<img src="/media/images/office_.jpg" class="img-top">

    <div class="our-story-wrapper">
    <div class="our-story-title"><h1>Our story</h1></div>
    <div class="row row-our-story">
        <div class="col-lg-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
        </div>
        <div class="col-lg-6" >
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse</p>
        </div>
    </div>
    </div>
    <div class="our-goals-wrapper">
        <div class="our-goals-title"><h1>Our goals</h1></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse</p>
    </div>
    <div class="our-values-wrapper">
        <div class="our-values-title"><h1>Our values</h1></div>
        <div class="row">
            <div class="element col-lg-2">
                <div class="element-title">Excellence</div>
                <img class="element-image" src="/media/images/excellence.png">
                <div class="element-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>
            </div>
            <div class="element col-lg-2">
                <div class="element-title">Global</div>
                <img class="element-image" src="/media/images/global.png">
                <div class="element-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>
            </div>
            <div class="element col-lg-2">
                <div class="element-title">Integrity</div>
                    <img class="element-image" src="/media/images/integrity.png">
                    <div class="element-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>
            </div>
            <div class="element col-lg-2">
                <div class="element-title">People Focussed</div>
                    <img class="element-image" src="/media/images/target.png">
                    <div class="element-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}