{% extends 'website/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<img src="/media/images/phone_.jpg" style="width:100%">
<div style="content-fluid; margin-top: 50px; margin-bottom: 50px">
    <div class="row" style="padding-left: 100px; padding-right: 100px; padding-top: 50px; padding-bottom: 50px">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 contact">
        <h2>Contact Us</h2><br>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-info">Send</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}