{% extends 'website/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div style="content-fluid; margin-top: 200px; margin-bottom: 160px">
    <div class="row" style="padding-top: 100px; padding-bottom: 100px">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 contact">
        <h2>Contact Us</h2><br>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit">Send</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}