{% extends 'website/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<img src="/media/images/phone.jpg" class="img-top">
<div class="content-fluid">
    <div class="row contact-form-wrapper">
        <div class="col-lg-4 contact">
        <h2>Contact Us</h2><br>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-info">Send</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}