{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <div class="banner-image">
        <div class="banner-overlay"></div>
        <div class="banner-text">
            <h1><strong>Software consulting | Code review as a service</strong></h1>
        </div>
    </div>
<div class="content-fluid content-main">
    <div class="row row-main">
        <div class="col-lg-6">
            <div class="introduction">
                <h3>Software consulting tailored to your needs</h3><br>
                <p class="intro">Algorizm is a full-stack consulting company based in London. We specialise in Python development,
                    microservices, and APIs. We're available for project-based consulting work, as well as for code reviews.
                    Whether you need expert guide in one of our core areas of expertise, or just one more hand to bring
                    a project to completion, we're here to help.</p><br>
                <a href="{% url 'services' %}">
                    <center><button type="button" class="btn btn-info" style="height: 55px">Check out our offering</button></center>
                </a>
            </div>
            <br>
        </div>
    </div>
    <div class="row row-who-are-we">
        <div class="col-lg-3">
            <h1>Who are we?</h1>
        </div>
        <div class="col-lg-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut</p>
        </div>
    </div>
    <div class="row row-why-us">
        <div class="col-lg-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut</p>
        </div>
        <div class="col-lg-3 why-us-title">
            <h1>Why us?</h1>
        </div>
    </div>
    <div class="main-clients">
        <h1>Our clients</h1><br><br><br>
        <div class="row">
            <div class="col-lg-2 testimonial-wrapper">
                <img src="media/images/ikea.jpg" class="client-logo"><br><br>
            </div>
            <div class="col-lg-2 testimonial-wrapper">
                <img src="media/images/aig.png" class="client-logo"><br><br>
            </div>
            <div class="col-lg-2 testimonial-wrapper">
                <img src="media/images/tails.png" class="client-logo"><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 testimonial-wrapper">
                <img src="media/images/manning.png" class="client-logo"><br><br>
            </div>
            <div class="col-lg-2 testimonial-wrapper">
                <img src="media/images/ics.png" class="client-logo"><br><br>
            </div>
            <div class="col-lg-2 testimonial-wrapper">
                <img src="media/images/csic.jpg" class="client-logo"><br><br>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}