{% extends 'website/base.html' %}
{% block content %}
<img src="/media/images/ourwork.jpg" style="width: 100%">
<main class="body-container-wrapper" style="padding-top: 100px">
    <div class="container-fluid body-container" style="padding-left: 350px; padding-right: 300px; padding-bottom: 100px">
        <h1 style="padding-bottom: 80px">Clients</h1>
        <div class="row">
            <div class="row client-group" style="padding-bottom: 120px">
                <div class="col-lg-3 client-image" style="padding-right: 20px; text-align: center"><img
                        src="/media/images/ikea.jpg" style="width: 150px"></div>
                <div class="col-lg-8 client-body">
                    <h4>IKEA</h4>
                    <span>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit sed do eiusmod tempor incididunt ut Duis aute irure dolor in reprehenderit in voluptate velit
                    esse illum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit sed do eiusmod tempor incididunt ut Duis aute irure dolor in reprehenderit in voluptate velit
                    esse illum dolore eu fugiat nulla pariatur.</span>
                </div>
                <hr>
            </div>

            <div class="row client-group" style="padding-bottom: 120px">
                <div class="col-lg-3 client-image" style="padding-right: 20px; text-align: center"><img
                        src="/media/images/aig.png" style="width: 150px"></div>
                <div class="col-lg-8 client-body">
                    <h4>AIG</h4>
                    <span>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit sed do eiusmod tempor incididunt ut Duis aute irure dolor in reprehenderit in voluptate velit
                    esse illum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit sed do eiusmod tempor incididunt ut Duis aute irure dolor in reprehenderit in voluptate velit
                    esse illum dolore eu fugiat nulla pariatur.</span>
                </div>
            </div>

            <div class="row client-group" style="padding-bottom: 120px">
                <div class="col-lg-3 client-image" style="padding-right: 20px; text-align: center"><img
                        src="/media/images/tails.png" style="width: 150px"></div>
                <div class="col-lg-8 client-body">
                    <h4>Tails.com</h4>
                    <span>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit sed do eiusmod tempor incididunt ut Duis aute irure dolor in reprehenderit in voluptate velit
                    esse illum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit sed do eiusmod tempor incididunt ut Duis aute irure dolor in reprehenderit in voluptate velit
                    esse illum dolore eu fugiat nulla pariatur.</span>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}