{% extends 'website/base.html' %}
{% block content %}
<img src="/media/images/ourwork.jpg" class="img-top">
    <div class="container-fluid services-wrapper">
        <h1 class="services-title">Services</h1>
            <div class="row services-group">
                <div class="col-lg-3 services-logo"><img
                        src="/media/images/project.png"></div>
                <div class="col-lg-8 services-body">
                    <h4>Project-based Consulting</h4>
                    <p>If you need guidance, or just an expert hand to help you deliver one of your projects, We're available
                    for freelancing work on a project basis. Whether it's that elusive bug or a full-blown architectural
                    design, we're here to help you tackle small tasks and full projects alike.</p>
                    <p>Our core area of expertise is Python development, microservices architecture and API development.
                        However, we also have a track record of delivering projects for frontend client applications and
                        DevOps automation projects. If you need help in any of these areas, don't hesitate to reach out
                        to us.</p>
                </div>
            </div>
            <div class="row services-group">
                <div class="col-lg-3 services-logo"><img
                        src="/media/images/backend.png"></div>
                <div class="col-lg-8 services-body">
                    <h4>Backend development (Python only)</h4>
                    <p>Python programming is our core expertise, and we have a track record of delivering backend service
                        applications. We can provide expert guidance on web backend services, financial systems, IoT platforms,
                        and others. We have experience with Machine Learning integrations, working side by side with ML
                        engineers. We've also built data pipelines and ETLs from scratch. We have helped to migrate legacy
                        code from other languages to Python, and from on-premises servers to the Cloud.</p>
                </div>
            </div>
            <div class="row services-group">
                <div class="col-lg-3 services-logo"><img
                        src="/media/images/frontend.png"></div>
                <div class="col-lg-8 services-body">
                    <h4>Frontend development (JavaScript and Vue.js only)</h4>
                    <p>Over the past few years, we've led the implementation or offered a hand on a few projects for
                        frontend application clients. These include analytics dashboards and custom applications for
                        retail, machine learning applications, and insurance. For these projects, we've used pure
                        JavaScript and the Vue.js framework.</p>
                </div>
            </div>
           <div class="row services-group">
                <div class="col-lg-3 services-logo"><img
                        src="/media/images/devops.png"></div>
                <div class="col-lg-8 services-body">
                    <h4>DevOps</h4>
                    <p>We have extensive experience as a DevOps engineer, having successfully delivered fully automated
                        solutions for a number of clients, from infrastructure automation, to disaster recovery code, to
                        release management automation. We are familiar with a large number of DevOps technologies,
                        including AWS, GCP, Heroku, PagerDuty, Docker, Kubernetes, and many others.</p>
                </div>
            </div>
           <div class="row services-group">
                <div class="col-lg-3 services-logo"><img
                        src="/media/images/microservice.png"></div>
                <div class="col-lg-8 services-body">
                    <h4>Microservices</h4>
                    <p>Over the past few years, microservices have become an industry standard. A large portion of our
                        work with previous clients has involved microservices, either building new microservices for a
                        new platform, or more typically, migrating an existing monolith to a microservices architecture.
                        Building a microservices platform can deliver substantial benefits to your business, making your
                        platform more scalable and reliable, but also saving costs along the way. If you are thinking
                        about getting started with microservices, we advise you get specialised help to ensure you get
                        them right.</p>
                </div>
            </div>
           <div class="row services-group">
                <div class="col-lg-3 services-logo"><img
                        src="/media/images/api.png"></div>
                <div class="col-lg-8 services-body">
                    <h4>APIs</h4>
                    <p>APIs are pervasive nowadays. However, API integrations are also one of the riskiest and most
                        error-prone areas in software development. Common gotchas include poorly conceived API designs,
                        lack of understanding of API protocols, and glaring security holes, among others. In this area,
                        we can help you choose the right type of API for your platform (such REST, GraphQL, gRPC, etc.),
                        getting the right API design for your use case, and ensure you deliver successful API
                        integrations.</p>
                </div>
            </div>
           <div class="row services-group">
                <div class="col-lg-3 services-logo"><img
                        src="/media/images/code-review.png"></div>
                <div class="col-lg-8 services-body">
                    <h4>Code review as a service</h4>
                    <p>When it comes to software, it's better to be safe than sorry. Code reviews play a fundamental
                        role in ensuring that the code you're releasing is production-ready. What is production-ready
                        code? Production-ready code is reliable, stable, secure, well-tested, and most importantly of
                        all, it's readable and maintainable. In my experience, nothing beats a code review when it comes
                        to delivering high quality code, and external code reviews are a powerful mechanism for ensuring
                        that the code is production-ready.</p>

                    <p>Most businesses have processes in place to ensure code is reviewed before it's released.
                        However, internal code reviews suck up time from other developers, and often they become a
                        source of conflict and tension within the team. More often than not, we've seen employees doing
                        "diplomatic" code reviews to avoid trouble with other colleagues.</p>

                    <p>We don't have that conflict of interest when we review your code. We're committed to delivering
                        an honest and sound review of your code. When we conduct a code review, we make sure that the
                        code is readable and maintainable, well structured, and follows good patterns and best
                        practices.</p>

                    <p>In our experience, code reviews are also one of the best platforms for knowledge transfer and
                        for learning. When we review code, we make sure our suggestions are well documented and
                        explained, so that the code's author(s) understands why they're needed and learns to avoid the
                        same mistakes in the future.</p>

                    <p>We're perfectly aware that often trade-offs are necessary between readability, performance, and
                        on-time delivery. We take these things into account when I review code. The best code is code
                        that works for your situation and delivers on your goals. But it's also code that you can change
                        easily and maintain in the future.
                    <p>We're available for review of full codebases and also for Pull Request reviews.
                    <a href="{% url 'contact' %}"><strong>Reach out to us</strong></a> for more details and we can discuss
                    how we can collaborate!</p>
                </div>
            </div>
    </div>
{% endblock content %}