
.banner-image {
    background-image: url("/media/images/london.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.banner-image .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    scroll-padding-top: 100px;
}

div p {
    font-size: 150%;
}

.img-project {
    width: 230px;
}

.img-blog {
    width: 550px;
}

#sticky-footer {
    background-color: #000000;
    padding: 40px 20px 20px 40px;
}