.banner-image {
    background-image: url("/media/images/london.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 150px;
    padding-top: 250px;
    padding-bottom: 250px;
}

.banner-image .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-text {
    text-align: center;
}

.banner-text > h1 {
     color: white;
}

body {
    scroll-padding-top: 100px;
    width: 100%;
}

.content-main {
    margin-bottom: 160px;
}

.row-main {
    padding: 100px 50px 80px 50px;
    text-align: center;
}

.introduction h3 {
    padding-bottom: 15px;
}

.row-who-are-we {
    margin-top: 100px;
    padding: 200px 50px 200px 50px;
    background-color: #d7ebfb;
}

.row-why-us {
    padding: 200px 50px 200px 50px;
    background-color: #195381;
    color: #fff;
}

.why-us-title {
    padding-left: 120px;
}

.testimonials {
    margin-top: 150px;
    margin-right: 0;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.testimonial-wrapper {
    margin-bottom: 30px;
}

.client-logo {
    width: 10rem;
}

div p {
    font-size: 150%;
}

.img-project {
    width: 230px;
}

.img-blog {
    width: 550px;
}

#sticky-footer {
    background-color: #000000;
    padding: 40px 20px 20px 40px;
}